<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDguS1H4bP2-eQxnkG26tEV5Ns7hADgCLk</string>
	<key>GCM_SENDER_ID</key>
	<string>1017548709119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bashairProject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>bashair-17414</string>
	<key>STORAGE_BUCKET</key>
	<string>bashair-17414.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1017548709119:ios:41c890af519de2c2afc0ca</string>
</dict>
</plist>